@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.postTitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    margin-top: 0;
}

.subTitle {
    font-family: 'Roboto', sans-serif;
    border-left: 4px solid lightgrey;
    line-height: 1.5em;
    padding-left: 15px;
    font-size: 1.2em;
}

.subTitle a {
    color: blue;
    text-decoration: underline;
}